/*

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Cinzel', serif;

*/

body {
  font-family: "Montserrat";
}

hr {
  border-color: grey;
  border-width: 10px;
  border-style: dotted none none;
  height: 0;
  width: 4%;
}

/* Title Header/Navigation*/
.override-bootstrap {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
  /*top left/right bottom*/
  background-color: #ff4c68;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.row {
  text-align: center;
}

/* Profile */
#profile {
  padding: 7% 15%;
  background-color: #fff;
}

.about-me {
  text-align: center;
}

.me {
  color: #66BFBF;
}

.self-image {
  width: 22%;
  border-radius: 100%;
  margin: 20px;
}

/* Skills */
#skills {
  padding: 3% 8%;
  background-color: #fff;
}

.my-skills {
  padding-top: 10px;
  padding-bottom: 35px;
}

.skills-title {
  color: #66BFBF;
  padding-bottom: 10px;
  text-align: center;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.web-design {
  width: 25%;
  float: left;
  margin-right: 30px;
  /* padding-right: 30px; */
}

.ios-design {
  width: 15%;
  float: right;
  margin-left: 30px;
  /* padding-left: 30px; */
}

.skill-description {
  font-family: 'Roboto Mono', monospace;
}

/* Carousel - Work Examples */
#testimonials {
  padding: 7% 15%;
  background-color: #EEEEEE;
}

.testimonial-img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-text {
  text-align: center;
  margin: 5% 3% 5% 0;
}

/* Technical Information: LinkedIn, GitHub*/
#cta {
  padding: 7% 15%;
  color: #fff;
}

.action-call {
  text-align: center;
}

.cta-link {
  margin: auto 10px auto 10px;
}

/* Footer */
#footer {
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

/*Responsive Website: Desktop/Tablet/Mobile Friendly*/
@media (max-width: 1028px) {

  /*Designed for a mobile below*/
  #title {
    tet-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
